numpy
h5py
jinja2
networkx
# Install from github
-e git://github.com/PacificBiosciences/pbcore.git@smrtanalysis-3.1.0#egg=pbcore
-e git://github.com/PacificBiosciences/pbcommand.git@smrtanalysis-3.1.0#egg=pbcommand
-e git://github.com/PacificBiosciences/pbcoretools.git@smrtanalysis-3.1.0#egg=pbcoretools
pyparsing==1.5.7
pydot
jsonschema
xmlbuilder
# this doesn't play well with the 2.3 SMRTAnalysis build
#semantic_version
fabric>=1.9.1
#sphinx-bootstrap-theme
